/balanced_train_data.npy
/my_model.h5
/train_data.npy
/ConvLSTM/Files/train_data.npy
/ConvLSTM/balanced_train_data.npy
/ConvLSTM/Files/convlstm_model_structure_plot.png
/ConvLSTM/my_model.h5
/ConvLSTM/queueTest.py
/DataCollection/train_data.npy
/CNN/train_data.npy
/.idea
/CNN/Files/balanced_data.npy
/CNN/Files/my_model.h5
/ConvLSTM/my_model{60steps}.h5
/ConvLSTM/a_little_test.py

/ConvLSTM/Files/cv_convlstm_model{20steps}.h5
/ConvLSTM/Files/my_model{60steps}.h5
/ConvLSTM/Files/preprocessed_data.npy
/CNN/Files/cv_cnn_model.h5
/CNN/Files/preprocessed_data.npy
/CNN/Files/train_data.npy
